@font-face {
    font-family: monospace;
    unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas {
    background-color: #000;
}

a {
    text-decoration: none;
    color: white;
}

.bigtext {
    font-weight: none;
    color: #FFFFFF;
    text-shadow: none;
    font-family: monospace;
    font-size: 15px;
    text-shadow: 0px 0px 10px rgba(182, 238, 255, 255);
}

.japanese2 {
    color: white;
    text-shadow: 0px 0px 10px rgba(182, 238, 255, 100);
    font-size: 15px;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}


.cssload-container {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
width: 105%;
background: #fff;
z-index: 999999;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 1300px;
    height: 1300px;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 5s opacity;
    overflow: hidden;
    filter: brightness(0.45);
}

img {
    filter: drop-shadow(0px 0px 20px rgba(182, 238, 255, 100));
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}

h1 {
    margin: 0px -5px;
    font-family: monospace;
    color: white;
    text-shadow: 0px 0px 10px rgba(182, 238, 255, 100);
    font-size: 19px;
}
